@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-gradient-to-tr from-zinc-800 to-black bg-no-repeat min-h-full text-white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}