@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=DynaPuff&family=Fira+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-gradient-to-tr from-black to-zinc-900 bg-no-repeat min-h-full text-white;
  /* background-color: #4834d4;
  background-image: linear-gradient(315deg, #4834d4 0%, #1e0579 74%, #120275 100%); */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-title {
  font-family: 'DynaPuff', cursive;
}

.font-body {
  font-family: 'Fira Sans', sans-serif;
}

.font-tag {
  font-family: 'Alkatra', sans-serif;
}

.bg-cover {
  background-color: #4834d4;
  background-image: linear-gradient(315deg, #4834d4 0%, #02093a 35%, #4834d4 70%, #12027b 100%);
}