body{
    background-image: url('https://github.githubassets.com/images/modules/site/home-campaign/hero-bg.webp');
    background-size:170%;
    background-repeat: no-repeat;
}

*{
        font-family: 'Alkatra', cursive;     
}