*{
    margin: 0;
    padding:0;
}

.topbar{
    top: 0%;
    left: 0%;
    width: 100%;
    height: 65px;
}

.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items:center;
    justify-content: space-between;
} 

.topLeft{
    position: relative;
    left: 20px;
    color:aliceblue;
}

.topRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:aliceblue
}

.toplist{
    display: flex;
    align-items: center;
    list-style: none;
}

.toplistItem{
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 15px;
    padding: 5px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    font-weight: 400;
}

.link{
  text-decoration: none;
}

.logoimg{
    margin-right: 130px;
}

.btnfos {
    display: block;
    line-height: 45px;
    width: 160px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
  }

  .btnfos-2 {
    letter-spacing: 0;
  }
  
  .btnfos-2:hover,
  .btnfos-2:active {
    letter-spacing: 5px;
  }
  
  .btnfos-2:after,
  .btnfos-2:before {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0px;
    content: " ";
    display:block;
    position: relative;
    -webkit-transition: all 280ms ease-in-out;
            transition: all 280ms ease-in-out;
    width: 0;
  }
  
  .btnfos-2:hover:after,
  .btnfos-2:hover:before {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-color: #fff;
    -webkit-transition: width 350ms ease-in-out;
            transition: width 350ms ease-in-out;
    width: 70%;
  }
  
  .btnfos-2:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
  }
